<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>datetime</key>
		<string>1-1</string>
		<key>event</key>
		<string>春节</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>1-2</string>
		<key>event</key>
		<string>苗族花山节</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>1-15</string>
		<key>event</key>
		<string>元宵节</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>2-1</string>
		<key>event</key>
		<string>中和节(太阳生日)</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>2-2</string>
		<key>event</key>
		<string>龙抬头节</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>2-12</string>
		<key>event</key>
		<string>花朝节(花神节)</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>2-19</string>
		<key>event</key>
		<string>观音菩萨生日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>3-3</string>
		<key>event</key>
		<string>上巳节（女儿节）</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>3-10</string>
		<key>event</key>
		<string>白族三月节</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>4-8</string>
		<key>event</key>
		<string>佛诞节</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>5-5</string>
		<key>event</key>
		<string>端午节</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>6-19</string>
		<key>event</key>
		<string>观音成道日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>6-24</string>
		<key>event</key>
		<string>火把节</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>7-7</string>
		<key>event</key>
		<string>七巧节</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>7-15</string>
		<key>event</key>
		<string>中元节[鬼节]</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>7-30</string>
		<key>event</key>
		<string>地藏节</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>8-15</string>
		<key>event</key>
		<string>中秋节</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>9-9</string>
		<key>event</key>
		<string>重阳节[敬老节]</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>9-19</string>
		<key>event</key>
		<string>观音出家日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>10-1</string>
		<key>event</key>
		<string>祭祖节</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>12-8</string>
		<key>event</key>
		<string>腊八节</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>12-23</string>
		<key>event</key>
		<string>小年</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>12-30</string>
		<key>event</key>
		<string>除夕</string>
	</dict>
</array>
</plist>
