<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>datetime</key>
		<string>1-1</string>
		<key>event</key>
		<string>元旦</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>2-2</string>
		<key>event</key>
		<string>世界湿地日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>2-14</string>
		<key>event</key>
		<string>情人节</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>3-1</string>
		<key>event</key>
		<string>国际海豹日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>3-3</string>
		<key>event</key>
		<string>全国爱耳日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>3-5</string>
		<key>event</key>
		<string>学习雷锋纪念日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>3-8</string>
		<key>event</key>
		<string>国际劳动妇女节</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>3-11</string>
		<key>event</key>
		<string>国际尊严尊敬日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>3-12</string>
		<key>event</key>
		<string>中国植树节</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>3-14</string>
		<key>event</key>
		<string>国际警察日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>3-15</string>
		<key>event</key>
		<string>国际消费者权益日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>3-16</string>
		<key>event</key>
		<string>手拉手情系贫困小伙伴全国统一行动日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>3-20</string>
		<key>event</key>
		<string>阿露窝罗节</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>3-21</string>
		<key>event</key>
		<string>世界森林日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>3-22</string>
		<key>event</key>
		<string>世界水日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>3-23</string>
		<key>event</key>
		<string>世界气象日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>3-24</string>
		<key>event</key>
		<string>世界防治结核病日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>3-25</string>
		<key>event</key>
		<string>中小学生安全教育日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>4-1</string>
		<key>event</key>
		<string>国际愚人节</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>4-5</string>
		<key>event</key>
		<string>清明节</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>4-7</string>
		<key>event</key>
		<string>世界卫生日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>4-11</string>
		<key>event</key>
		<string>世界帕金森病日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>4-13</string>
		<key>event</key>
		<string>傣族泼水节[阳历4-13日至4-15日间]</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>4-21</string>
		<key>event</key>
		<string>全国企业家活动日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>4-22</string>
		<key>event</key>
		<string>世界地球日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>4-23</string>
		<key>event</key>
		<string>世界图书和版权日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>4-25</string>
		<key>event</key>
		<string>全国预防接种宣传节日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>4-26</string>
		<key>event</key>
		<string>世界知识产权日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>5-1</string>
		<key>event</key>
		<string>国际劳动节</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>5-4</string>
		<key>event</key>
		<string>中国青年节</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>5-5</string>
		<key>event</key>
		<string>全国碘缺乏病宣传日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>5-8</string>
		<key>event</key>
		<string>世界红十字日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>5-12</string>
		<key>event</key>
		<string>国际护士节</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>5-15</string>
		<key>event</key>
		<string>国际家庭日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>5-17</string>
		<key>event</key>
		<string>世界电信日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>5-18</string>
		<key>event</key>
		<string>国际博物馆日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>5-20</string>
		<key>event</key>
		<string>全国母乳喂养宣传日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>5-22</string>
		<key>event</key>
		<string>国际生物多样性日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>5-31</string>
		<key>event</key>
		<string>世界无烟日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>6-1</string>
		<key>event</key>
		<string>国际儿童节</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>6-5</string>
		<key>event</key>
		<string>世界环境日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>6-6</string>
		<key>event</key>
		<string>全国爱眼日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>6-17</string>
		<key>event</key>
		<string>世界防治荒漠化和干旱日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>6-20</string>
		<key>event</key>
		<string>世界难民日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>6-23</string>
		<key>event</key>
		<string>国际奥林匹克日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>6-25</string>
		<key>event</key>
		<string>全国土地日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>6-26</string>
		<key>event</key>
		<string>国际禁毒日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>7-1</string>
		<key>event</key>
		<string>中共建党节</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>7-7</string>
		<key>event</key>
		<string>中国人民抗日战争纪念日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>7-11</string>
		<key>event</key>
		<string>世界人口日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>7-11</string>
		<key>event</key>
		<string>世界海事日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>7-26</string>
		<key>event</key>
		<string>世界语(言)创立日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>8-1</string>
		<key>event</key>
		<string>中国人民解放军建军节</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>8-6</string>
		<key>event</key>
		<string>苗族吃新节</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>9-3</string>
		<key>event</key>
		<string>抗日战争胜利纪念日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>9-8</string>
		<key>event</key>
		<string>国际扫盲日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>9-10</string>
		<key>event</key>
		<string>中国教师节</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>9-16</string>
		<key>event</key>
		<string>国际臭氧层保护日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>9-18</string>
		<key>event</key>
		<string>中国国耻日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>9-20</string>
		<key>event</key>
		<string>全国爱牙日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>9-21</string>
		<key>event</key>
		<string>国际和平日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>9-22</string>
		<key>event</key>
		<string>无车日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>9-27</string>
		<key>event</key>
		<string>世界旅游日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>9-28</string>
		<key>event</key>
		<string>世界教师节(孔子诞辰)</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>10-1</string>
		<key>event</key>
		<string>国庆节</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>10-4</string>
		<key>event</key>
		<string>世界动物日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>10-8</string>
		<key>event</key>
		<string>全国高血压日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>10-9</string>
		<key>event</key>
		<string>世界邮政日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>10-10</string>
		<key>event</key>
		<string>世界精神卫生日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>10-13</string>
		<key>event</key>
		<string>中国少年先锋队诞辰日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>10-14</string>
		<key>event</key>
		<string>国际音乐节[十月中旬]</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>10-15</string>
		<key>event</key>
		<string>国际盲人节</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>10-16</string>
		<key>event</key>
		<string>世界粮食日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>10-17</string>
		<key>event</key>
		<string>国际消除贫困日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>10-18</string>
		<key>event</key>
		<string>世界传统医药日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>10-24</string>
		<key>event</key>
		<string>联合国日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>10-28</string>
		<key>event</key>
		<string>全国男性健康日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>10-31</string>
		<key>event</key>
		<string>万圣节</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>11-7</string>
		<key>event</key>
		<string>十月革命纪念日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>11-8</string>
		<key>event</key>
		<string>中国记者节</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>11-9</string>
		<key>event</key>
		<string>中国消防宣传日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>11-10</string>
		<key>event</key>
		<string>世界青年节</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>11-11</string>
		<key>event</key>
		<string>光棍节</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>11-14</string>
		<key>event</key>
		<string>世界糖尿病日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>11-17</string>
		<key>event</key>
		<string>国际大学生节</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>11-25</string>
		<key>event</key>
		<string>国际消除对妇女的暴力日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>12-1</string>
		<key>event</key>
		<string>世界艾滋病日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>12-3</string>
		<key>event</key>
		<string>国际残疾人日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>12-4</string>
		<key>event</key>
		<string>中国法制宣传日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>12-5</string>
		<key>event</key>
		<string>国际志愿人员日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>12-7</string>
		<key>event</key>
		<string>国际民航日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>12-9</string>
		<key>event</key>
		<string>世界足球日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>12-10</string>
		<key>event</key>
		<string>世界人权日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>12-13</string>
		<key>event</key>
		<string>南京大屠杀纪念日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>12-20</string>
		<key>event</key>
		<string>澳门回归纪念日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>12-21</string>
		<key>event</key>
		<string>国际篮球日</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>12-22</string>
		<key>event</key>
		<string>冬至节</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>12-24</string>
		<key>event</key>
		<string>平安夜</string>
	</dict>
	<dict>
		<key>datetime</key>
		<string>12-25</string>
		<key>event</key>
		<string>圣诞节</string>
	</dict>
</array>
</plist>
